body{
    background-color: #fff;
    font-family: Roboto, sans-serif;
}

.page {
    text-align: center;
}

.navigate {
    font-size: 18px;
    text-transform: uppercase;
}

.nav_link {
    font-size: 16px;
    color: #16a085;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 3px;
    transition: color 0.2ms linear;
}

